@import 'tailwindcss';
.brush-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #4b5563; /* gray-600 */
  border-radius: 999px;
  outline: none;
  cursor: pointer;
}

/* Chrome / Edge / Safari */
.brush-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 2px solid #111;
  cursor: pointer;
}

/* Firefox */
.brush-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 2px solid #111;
  cursor: pointer;
}